@charset "UTF-8";
/* для  стилей  общего пользования */
body {
  font-family: 'Poppins';
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.872727px;
  color: #000000;
  min-width: 360px;
}

/* добавил этот стиль когда начал делать фест-мобайл подход*/
*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* класс для всех ссылок <a>, убираем подчеркивание и задаем цвет */
.link {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  width: inherit;
  outline: 1px solid tomato;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  outline: 1px solid tomato;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 1440px) {
  .navigation {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.header {
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  height: 72px;
  outline: 1px solid tomato;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: brown;
}

@media (min-width: 1440px) {
  .header {
    width: 1440px;
    height: 164px;
  }
}

.burger-menu-block {
  margin-right: 62px;
}

.full-basket-menu-block {
  display: block;
  margin-left: 66px;
}

@media (min-width: 1440px) {
  .full-basket-menu-block {
    margin-left: 0px;
  }
}

.navigation__but-mobile {
  padding: 0;
  border: 0;
  background-color: inherit;
  margin-right: 16px;
  /* width: 20px;
  height: 20px; */
  /* background-image: "../images/mobile/menu-burger.svg"; */
}

@media (min-width: 1440px) {
  .navigation__but-mobile {
    display: none;
  }
}

.navigation__but-mobile-search {
  padding: 0;
  border: 0;
  background-color: inherit;
  margin-right: 58px;
}

@media (min-width: 1440px) {
  .navigation__but-mobile-search {
    display: none;
  }
  .logo {
    margin-right: 263px;
  }
  .icon-logo-mobile {
    display: none;
  }
}

.but-nav-mobile {
  padding: 0;
  border: 0;
  background-color: inherit;
  /* width: 20px;
  height: 20px; */
  /* background-image: "../images/mobile/menu-burger.svg"; */
}

.but-icon-mobile {
  fill: royalblue;
}

@media (min-width: 1440px) {
  .but-icon-mobile {
    margin-left: 16px;
  }
}

.header__inner {
  outline: 1px solid tomato;
  margin-top: 16px;
}

@media (min-width: 1440px) {
  .header__inner {
    margin-top: 0px;
    padding-top: 16px;
  }
}

.menu {
  display: none;
}

@media (min-width: 1440px) {
  .menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.logo-text-desktop {
  display: none;
}

@media (min-width: 1440px) {
  .logo-text-desktop {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-weight: bold;
    font-size: 38px;
    line-height: 1.5;
    letter-spacing: 0.95px;
    margin: 0;
    padding: 0;
    width: 141px;
  }
}

.header-form-section {
  position: relative;
  display: none;
  background: #f7f7f7;
  opacity: 0.24;
  border-radius: 3px;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.45;
}

@media (min-width: 1440px) {
  .header-form-section {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.header-input {
  display: inline-block;
  width: 584px;
  height: 48px;
}

.input-icon-svg {
  position: absolute;
  top: 16px;
  right: 16px;
  fill: blue;
}

.but-icon-register {
  display: none;
}

@media (min-width: 1440px) {
  .but-icon-register {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 238px;
  }
}

.under-header {
  display: none;
}

@media (min-width: 1440px) {
  .under-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.under-header-text {
  margin-top: 4px;
  margin-bottom: 3px;
  margin-left: 653px;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.45;
  text-align: center;
  letter-spacing: 0.8px;
}

.icon-location {
  margin-left: 562px;
}

.our-stores {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.5;
  text-align: right;
  letter-spacing: 0.0833333px;
}

.link-navigation {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation-up-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 32px;
}

.menu-link {
  font-weight: 600;
  font-size: 13px;
  line-height: 1.46;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */