.link-navigation {
  display: inline-flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation-up-part {
  display: flex;
  align-items: center;
  // justify-content: space-around;
  // flex-direction: column;
}

.menu-item:not(:last-child) {
  margin-right: 32px;
}

.menu-link {
  font-weight: 600;
  font-size: 13px;
  line-height: 1.46;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $accent-color;
}
