.registration-text {
  display: block;
  margin: 0;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 24px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.872727px;
}
@media (min-width: 1440px) {
  .registration-text {
    width: 439px;
  }
}

.registration-input {
  padding: 0;
  //   margin-left: 16px;
  //   margin-top: 14px;
  margin-right: 8px;
  //   margin-bottom: 24px;
  width: 224px;
  height: 32px;
  border: 1px solid #e1e0e1;
  border-radius: 3px;
}
@media (min-width: 1440px) {
  .registration-input {
    width: 334px;
    margin: 0;
    margin-right: 12px;
  }
}

.btn-register {
  font-weight: 600;
  font-size: 10px;
  line-height: 2;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $accent-color;
  background: $main-text-color;
  border-radius: 3px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 5px;
  padding-bottom: 4px;
}
@media (min-width: 1440px) {
  .btn-register {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.registration-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// .form-block {
//   display: none;
//   width: 439px;
// }

.registration-form {
  margin-top: 14px;
  margin-bottom: 24px;
}
@media (min-width: 1440px) {
  .registration-form {
    margin-bottom: 32px;
  }
}
